body {
    overflow: hidden;
    background-color: gray;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}  

.car {
    position: relative;
    width: 200px;
    height: 100px;
    top: 250px;
    left: 500px;
    transform: rotate(-90deg);
    background-image: url("img/car_0.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.target {
    position: absolute;
    background-color: yellow;
    opacity: 0.7;
    width: 225px;
    height: 125px;
    right: 0;
}

.volan {
    position: absolute;
    left: 0;
    bottom: 0;
    rotate: 0deg;
}

.parking1 {
    position: absolute;
    border-top: white solid 15px;
    border-bottom: white solid 15px;
    width: 250px;
    height: 150px;
    right: 0;
    top: 0;
}

.parking2 {
    position: absolute;
    border-top: white solid 15px;
    border-bottom: white solid 15px;
    width: 250px;
    height: 150px;
    right: 0;
    top: 165px;
}

.parking3 {
    position: absolute;
    border-top: white solid 15px;
    border-bottom: white solid 15px;
    width: 250px;
    height: 150px;
    right: 0;
    top: 330px;
}

.parking4 {
    position: absolute;
    border-top: white solid 15px;
    border-bottom: white solid 15px;
    width: 250px;
    height: 150px;
    right: 0;
    top: 495px;
}

.parking5 {
    position: absolute;
    border-top: white solid 15px;
    border-bottom: white solid 15px;
    width: 250px;
    height: 150px;
    right: 0;
    top: 660px;
}




.parking11 {
    position: absolute;
    border-top: white solid 15px;
    border-bottom: white solid 15px;
    width: 250px;
    height: 150px;
    left: 0;
    top: 0;
}

.parking21 {
    position: absolute;
    border-top: white solid 15px;
    border-bottom: white solid 15px;
    width: 250px;
    height: 150px;
    left: 0;
    top: 165px;
}

.parking31 {
    position: absolute;
    border-top: white solid 15px;
    border-bottom: white solid 15px;
    width: 250px;
    height: 150px;
    left: 0;
    top: 330px;
}

.parking41 {
    position: absolute;
    border-top: white solid 15px;
    border-bottom: white solid 15px;
    width: 250px;
    height: 150px;
    left: 0;
    top: 495px;
}

.parking51 {
    position: absolute;
    border-top: white solid 15px;
    border-bottom: white solid 15px;
    width: 250px;
    height: 150px;
    left: 0;
    top: 660px;
}